:root {
    --primary-color: #9792E4;
    --secondary-color: #0084FD;
    --first-section-color: #B5DDFF;
}

/* Header */

header {
    background-color: var(--secondary-color);
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-nav-side li {
    list-style: none;
    display: inline-block;
}

.hamburger-menu {
    display: none;
}

/* Main */

section {
    padding: 50px 0;
}

/* First Section */

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.col {
    width: calc(100% / 3 - 40px / 3);
    height: 100px;
    background-color: var(--first-section-color);
}

.col-large {
    width: calc(100% / 3 * 2 - 20px / 3);
}

/* Media Queries */

@media screen and (max-width: 768px) {
    .right-nav-side ul {
        display: none;
    }

    .hamburger-menu {
        display: inline-block;
    }
}