:root {
    --primary-color: #9792E4;
    --secondary-color: #0084FD;
    --first-section-color: #B5DDFF;
}

/* Generics */

body {
    font-family: 'Ubuntu', sans-serif;
}

.btn {
    display: inline-block;
    background-color: white;
    border-radius: 50px;
    color: black;
    padding: 5px 10px;
}

h1 {
    font-size: 4.5rem;
    font-weight: 800;
}

h2 {
    font-weight: 500;
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--secondary-color);
}

p {
    line-height: 1.7rem;
}

.little-title {
    font-weight: 300;
    font-size: 1.1rem;
}

/* Header */

header {
    background-color: var(--secondary-color);
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-nav-side li {
    margin-left: 30px;
    font-size: 1.1rem;
    font-weight: 200;
    color: white;
    list-style: none;
    display: inline-block;
}

.right-nav-side .btn {
    border: 5px solid white;
}

.hamburger-menu {
    color: white;
    font-size: 1.5rem;
    display: none;
}

/* Main */

section {
    padding: 50px 0;
}

/* First Section */

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.col {
    text-align: center;
    width: calc(100% / 3 - 40px / 3);
    border-radius: 20px;
    padding: 40px 20px;
    background-color: var(--first-section-color);
}

.col>i {
    font-size: 5rem;
    color: var(--secondary-color);
    margin-bottom: 25px;
}

.col-large {
    padding: 0;
    text-align: left;
    display: flex;
    align-items: center;
    width: calc(100% / 3 * 2 - 20px / 3);
}

.col-large .btn::before {
    content: '\f179';
    font-weight: 400;
    font-family: "Font Awesome 6 Brands";
    margin-right: 10px;
}

.col-left-side {
    width: 50%;
    padding: 20px;
}

.col-left-side>p,
.col>p {
    margin-top: 25px;
    color: #444444;
}

.col-left-side>.btn {
    margin-top: 20px;
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 50px;
    letter-spacing: 3px;
}

.col-right-side {
    align-self: flex-end;
    width: 50%;
}

.col-right-side>img {
    margin: 0 auto;
    display: block;
    max-width: 250px;
}

/* Second Section */

.plan-section-content {
    margin-top: 70px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.plan-section-content .side {
    width: calc(50% - 25px);
}

.plan-section-content .left-side>img {
    width: 400px;
}

.plan-section-content .left-side h3,
.plan-section-content .left-side p {
    margin-top: 40px;
    color: white;
}

.plan-section-content .left-side h3 {
    margin-top: 100px;
}

.plan-section-content .left-side p,
.plan-section-content .right-side p {
    font-weight: 300;
}

.plan-section-content>.right-side {
    align-self: flex-end;
}

.plan-section-content .right-side-content {
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    background-color: white;
}

.plan-section-content .right-side-content img {
    width: 250px;
}

.plan-section-content .right-side-content h3 {
    color: black;
}

.plan-section-content .right-side-content p {
    margin: 20px 0;
    font-style: italic;
}

.plan-section-content .right-side-content .right-side-icon {
    background-color: #9792E4;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.plan-section-content .right-side-content i {
    display: inline-block;
    font-size: 1.2rem;
    line-height: 50px;
}

/* Testimonial Section */

.testimonials-header {
    text-align: center;
}

.testimonials-header h2 {
    margin: 30px 0;
    color: var(--primary-color);
}

.testimonials-header p {
    font-size: 1.2rem;
}

.testimonials {
    margin: 30px 0;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
}

.testimonial-img {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
}

.testimonial-img>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-quote {
    width: 70%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.testimonial-quote p {
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.testimonial-quote p::before {
    content: '\f10d';
    font-size: 1.5rem;
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    margin-right: 10px;
}

.testimonial-quote p::after {
    content: '\f10e';
    font-size: 1.5rem;
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    margin-left: 10px;
}

.testimonial-quote .testimonial-author {
    font-size: 1.3rem;
}

/* Benefits Section */

.benefits h2 {
    text-align: center;
    margin-bottom: 40px;
    color: white;
}

.benefits .row {
    gap: 30px;
}

.benefits .col {
    text-align: left;
    padding: 30px;
    width: calc(100% / 3 - 60px / 3);
    background-color: white;
}

.benefits .col h1,
.about-us h1 {
    color: var(--primary-color);
}

.benefits .col h3 {
    font-weight: 500;
    color: var(--primary-color);
}

.benefits .col p {
    margin: 25px 0;
}

.benefits .col .btn {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 40px;
    letter-spacing: 5px;
}

/* About Us Section */

.about-us {
    padding: 0 20px;
    display: flex;
    gap: 50px;
}

.about-us-left-side {
    width: 70%;
}

.about-us-left-side h1 {
    margin: 30px 0;
}

.about-us-left-side p {
    width: 90%;
    font-size: 1.2rem;
    line-height: 2.5rem;
}

.about-us-right-side {
    max-width: 30%;
}

.about-us-img {
    margin: 0 auto;
    position: relative;
    max-width: 250px;
    border-radius: 50%;
}

.about-us-img>img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.about-us-img .fa-quote-left {
    font-size: 5rem;
    color: var(--primary-color);
    position: absolute;
    right: 0;
}

.about-us-img-description .about-us-img-quote {
    margin: 20px 0;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 2rem;
}

.about-us-img-description .btn {
    font-size: 0.9rem;
    background-color: var(--primary-color);
    color: white;
    padding: 8px 20px;
}

.about-us-img-description .btn::before {
    content: '\f08c';
    font-weight: 400;
    font-family: "Font Awesome 6 Brands";
    margin-right: 10px;
}

/* Get Started Section */

.get-started {
    color: white;
    text-align: center;
}

.get-started h2 {
    margin: 20px 0;
}

.get-started h1 {
    font-size: 6rem;
    color: gold;
    margin: 30px 0;
}

.get-started p {
    font-weight: 300;
    margin: 0 auto;
    width: 40%;
}

.get-started .btn {
    margin: 30px 0;
    font-size: 1.2rem;
    letter-spacing: 5px;
    color: var(--primary-color);
    padding: 25px 70px;
}

.get-started span {
    font-weight: 300;
    display: block;
}

.get-started span i {
    vertical-align: middle;
    margin: 0 5px;
    font-size: 0.3rem;
}

.get-started span a {
    text-decoration: underline;
}

/* Footer */

footer {
    color: white;
    font-weight: 300;
    background-color: #333333;
    text-align: center;
    padding: 40px 0;
}

footer p {
    margin: 0 auto;
    width: 40%;
}

footer span {
    margin-top: 50px;
    display: inline-block;
}

footer span a {
    color: var(--primary-color);
    text-decoration: underline;
}

/* Media Queries */

@media screen and (max-width: 768px) {

    /* Header */

    .right-nav-side ul {
        display: none;
    }

    .hamburger-menu {
        display: inline-block;
    }

    /* First Section */

    .plan-section-content {
        flex-direction: column;
    }

    .plan-section-content .side {
        width: 100%;
    }

    .col-large {
        flex-direction: column;
    }

    .col-left-side,
    .col-right-side {
        width: 100%;
    }

    .col-right-side>img {
        margin: 0;
        width: 250px;
    }

    /* Planning Section */

    .plan-section-content .left-side>img {
        width: 100%;
    }

    .plan-section-content .left-side h3,
    .plan-section-content .left-side p {
        margin-top: 40px;
        color: white;
    }

    .plan-section-content .left-side h3 {
        font-size: 4rem;
        margin-top: 100px;
    }

    .plan-section-content .right-side-content img {
        width: 100%;
    }

    /* Benefits Section */

    .benefits .col {
        width: calc(100% / 2 - 30px / 2);
        background-color: white;
    }
}

@media screen and (max-width: 480px) {

    /* First Section */

    .row {
        flex-direction: column;
    }

    .col {
        width: 100%;
    }

    /* Testimonials Section */

    .testimonials {
        flex-direction: column;
        align-items: center;
    }

    .testimonial-quote {
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }

    /* Benefits Section */

    .benefits .col {
        width: 100%;
        background-color: white;
    }

    /* About Us Section */

    .about-us {
        flex-direction: column;
    }

    .about-us-left-side {
        width: 100%;
    }

    .about-us-left-side p {
        width: 100%;
    }

    .about-us-right-side {
        max-width: 100%;
    }

    .about-us-img {
        width: 180px;
    }

    /* Get Started Section */

    .get-started h2 {
        font-size: 2rem;
    }

    .get-started h1 {
        font-size: 3.5rem;
    }

    .get-started p {
        width: 100%;
    }

}